[Unit]
Description=Back up FRIDAY's database
After=mysql.service
Requires=mysql.service

[Service]
Type=oneshot
User=friday
Group=friday
ExecStart=/opt/friday/backup.sh
